/RemoteViewing/bin
/RemoteViewing/RemoteViewing/obj
obj
/RemoteViewing/RemoteViewing.ServerExample/obj
/RemoteViewing/RemoteViewing.ServerExample/bin
/RemoteViewing/RemoteViewingServerExample/obj
/RemoteViewing/RemoteViewingServerExample/bin
